.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 12px;
    padding-top: 10px;
}

@media(min-width:560px) {
    .header {
        margin-top: 60px;
    }
}