.input {
    margin-top: 40px;
    padding: 14px 20px;
    border: 1px solid palegreen;
    height: 48px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.input__radio {
    margin-right: 12px;
    border: 1px solid #E3E4F1;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}

.input__text-area {
    height: 24px;
    font-weight: 400;
    font-size: 14px;
    padding: 2px;
    border: none;
    outline: none;
    font-family: 'Josefin Sans', sans-serif;
    background-color: transparent;
}

@media(min-width:700px) {}