.todo__editor,
.todo__item {
    border: 1px solid rgb(223, 70, 44);
    height: 52px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 16px 20px;
}

.todo__checkbox {
    width: 20px;
    height: 20px;
    display: flex;
    border: 1px solid transparent;
    border-radius: 50%;
}

.todo__checkbox--dark {
    background: linear-gradient(#25273D, #25273D) padding-box, linear-gradient(90deg, #393A4B, #393A4B) border-box;

    &:hover {
        cursor: pointer;
        border: 1px solid transparent;
        background: linear-gradient(#25273D) padding-box, linear-gradient(135deg, #55DDFF 0%, #C058F3 100%) border-box;
    }
}

.todo__checkbox--light {
    background: linear-gradient(#FFFFFF, #FFFFFF) padding-box, linear-gradient(90deg, #E3E4F1, #E3E4F1) border-box;

    &:hover {
        cursor: pointer;
        border: 1px solid;
        background: linear-gradient(white, white) padding-box, linear-gradient(135deg, #55DDFF 0%, #C058F3 100%) border-box;
    }
}

.todo__check {
    border: 1px solid white;
    width: 20px;
    height: 20px;
}

.todo__text {
    list-style: none;
    min-width: 220px;
    font-weight: 400;
    font-size: 12px;
}

.todo__text.completed {
    text-decoration: line-through;
    color: #D1D2DA;
}

.todo__delete {
    margin-left: 20px;
    width: 11.79px;
    height: 11.79px;
}

.todo__text:hover,
.todo__delete:hover {
    cursor: pointer;
}

.todo-input {
    min-width: 250px;
    outline: none;
    border: none;
    border-bottom: 1px dotted #C058F3;
}

@media(min-width:700px) {}